@using AppAdmin.Models.DTOs

@{
    ViewData["Title"] = "AddServiceBySecretCode";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var orderData = ViewBag.dataOrder;
    var listCategoryService = ViewBag.listCategorySerivce;

}
@section jsFooter
{

    <script src="~/js/OrderServiceController.js"></script>

}
<div class="container">
    <h1 class="text-center">Order Service</h1>
    <div class="row mt-5">
        <div class="col-md-6">
            <h5>Detail Order</h5>
            <div>
                Secret Code <span>@orderData.Booking.SecretCode</span>
            </div>
            <form class="mt-5 row">
                <div class="form-group row col-md-6">
                    <label class="col-md-4" for="">First Name</label>
                    <input type="text" class="form-control col-md-8" value="@orderData.Booking.GuestMv.FirstName" disabled>
                </div>
                <div class="form-group row col-md-6">
                    <label class="col-md-4" for="">Last Name</label>
                    <input type="text" value="@orderData.Booking.GuestMv.LastName" class="form-control col-md-8" disabled>
                </div>
                <div class="form-group row col-md-12">
                    <label class="col-md-4" for="">Email</label>
                    <input type="text" value="@orderData.Booking.GuestMv.Email" class="form-control col-md-8" disabled>
                </div>
                <div class="form-group row col-md-12">
                    <label class="col-md-4" for="">Phone</label>
                    <input type="text" value="@orderData.Booking.GuestMv.Phone" class="form-control col-md-8" disabled>
                </div>
                <div class="form-group row col-md-12">
                    <label class="col-md-4" for="">IdentityNo</label>
                    <input type="text" value="@orderData.Booking.GuestMv.IdentityNo" class="form-control col-md-8" disabled>
                </div>

            </form>
        </div>
        <div class="col-md-6">
            <div>
                <h5>Services</h5>
                <div class="row">
                    <label class="col-md-4">category</label>
                    <div class="dropdown col-md-8">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Choose one
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var item in listCategoryService)
                            {
                                <a class="button-cate dropdown-item" data-idCate="@item.Id">@item.Name</a>
                            }
                        </div>
                    </div>
                </div>

                <table class="table mt-5">
                    <thead>
                        <tr>
                            <th>Service Name</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="ServiceRender">
                    </tbody>
                    <script id="data-template-category" type="x-tmpl-mustache">
                        <tr class="service-data">
                            <td class="nameService">{{name}}</td>
                            <td class="priceService">{{price}}</td>
                            <td class="categoryServiceName">{{categoryName}}</td>
                            <td><button data-idservice="{{id}}" class="btn-addservice btn btn-success">Add</button></td>
                        </tr>
                    </script>
                </table>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Service Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="orderServiceRender">
                        <tr>
                            <td scope="row"></td>
                            <td>hoang</td>
                            <td>hoang</td>
                            <td>hoang</td>
                            <td><button class="btn btn-danger">Delete</button></td>
                        </tr>
                    </tbody>
                    <script id="data-template-service" type="x-tmpl-mustache">
                        <tr class="data-order-serivce" data-id="{{id}}">
                            <td scope="row">{{name}}</td>
                            <td>{{serviceName}}</td>
                            <td>{{price}}</td>
                            <td>{{quantity}}</td>
                            <td><button data-idDelete="{{id}}" class="btn-delete-orderService btn btn-danger">Delete</button></td>
                        </tr>
                    </script>
                </table>
            </div>
        </div>
    </div>
    <div class="float-right">
        <div>
            Amout: <span id="Amoutn">0</span> vnd
        </div>
    </div>
    <div>
        <a href="@Url.Action("SaveOrderDetailService","Booking", new
                 {
                     orderId  = orderData.Id
                 })" class="btn btn-success">Save</a>
    </div>
</div>

